*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: auto;
}
/*navedor*/
#carrito{
    background-color: white;
}
#contenedor-2{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78vh;
}
#nombreC{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#correoE{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#numeroT{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#echeV{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#ccv{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#boton{
    margin: auto;
    padding: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.img-footer{
    margin: 5px;
    padding: 5px;
    width: 40px;
}
@media (max-width: 360px){
    #contenedor-2{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
}